src/main/java/stub/.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.2 git-revision#0264419. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="BanqueWS">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8083/?xsd=1"/>
</xsd:schema>
</types>
<message name="listAccounts">
<part name="parameters" element="tns:listAccounts"/>
</message>
<message name="listAccountsResponse">
<part name="parameters" element="tns:listAccountsResponse"/>
</message>
<message name="newAccount">
<part name="parameters" element="tns:newAccount"/>
</message>
<message name="newAccountResponse">
<part name="parameters" element="tns:newAccountResponse"/>
</message>
<message name="convertToMAD">
<part name="parameters" element="tns:convertToMAD"/>
</message>
<message name="convertToMADResponse">
<part name="parameters" element="tns:convertToMADResponse"/>
</message>
<portType name="BancService">
<operation name="listAccounts">
<input wsam:Action="http://server/BancService/listAccountsRequest" message="tns:listAccounts"/>
<output wsam:Action="http://server/BancService/listAccountsResponse" message="tns:listAccountsResponse"/>
</operation>
<operation name="newAccount">
<input wsam:Action="http://server/BancService/newAccountRequest" message="tns:newAccount"/>
<output wsam:Action="http://server/BancService/newAccountResponse" message="tns:newAccountResponse"/>
</operation>
<operation name="convertToMAD">
<input wsam:Action="http://server/BancService/convertToMADRequest" message="tns:convertToMAD"/>
<output wsam:Action="http://server/BancService/convertToMADResponse" message="tns:convertToMADResponse"/>
</operation>
</portType>
<binding name="BancServicePortBinding" type="tns:BancService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="newAccount">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="convertToMAD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="BanqueWS">
<port name="BancServicePort" binding="tns:BancServicePortBinding">
<soap:address location="http://localhost:8083/"/>
</port>
</service>
</definitions>